/* style.css */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 16px;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.odin{
    background-color: beige;
    padding: 8px 12px 4px;
    border-radius: 16px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4px;
}

.odin img {
    display: block;
    border-radius: 20px;
}

.odin a {
    display: block;
    margin-top: 8px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px 8px;
    border-radius: 32px;
}

#lasagna {
    background-color: red;
}

#spag {
    background-color: brown;
}

#cookie {
    background-color: brown;
}

.title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 4px;
}

.text img {
    border-radius: 24px;
    margin-bottom: 8px;
}

.description {
    text-align: center;
    margin-bottom: 24px;
}

.ingredients {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.ingredients h2 {
    margin-bottom: 2px;
}

.ingredients ul {
    margin-bottom: 8px;
    list-style-type: none;
}

.ingredients ul li {
    margin-bottom: 1px;
}

.instructions {
    margin: auto 12px 8px;
}

.instructions h2 {
    text-align: center;
    margin-bottom: 4px;
}

.instructions ol li {
    margin: 0px auto 2px;
}

.instructions ol ul li {
    margin: 0px auto 1px;
}